*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
}
.header{
    background-color: rgb(237, 249, 67);
    /*background-color: rgba(0, 0, 0, 0.2);
    background-color: black;
    background-color: #f8fb32;*/
    position: sticky;
    top: 0px;
    z-index: 10;
    height: 10%;
    font-size: 22px;
}
.nav-item{
    padding: 5px;
}
.nav-link:hover{
    transform: scale(1.1);
    background-color: white;
}
.logo{
    width: 30%;
}
.wrap{
    width:96vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.642),rgba(0, 0, 0, 0.100)), url("../imagenes/Number1.png");
    background-size: cover;
    background-position: center;
}
.wrap-texto{
    color:white;
    width: 50%;
}
.container{
    margin-top: 10px;
}
.marketing{
    text-align: center;
    background-color:black ;
    color: white;
    margin-bottom: 100px;
    margin-top: 70px;
}
.featurette-divider {
    margin: 5rem 0; 
}
.fuenteNormal{
    margin-top: 80px;
}

.footer{
    bottom:0;
    left:0;
    height:5rem;
    width:100%;
    color: white;
    text-align: center;
}
.icon:hover{
    transform: rotate(360deg);
    transition: 0.4s;
}

.icon{
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    animation: float infinite 4s ease-in-out ;
}
.ri-facebook-circle-line{
    animation-delay: 0.5s; 
}

.ri-whatsapp-line{
    animation-delay: 1s; 
}
.planes{
    margin-top: 50px;
    text-align: center;
    
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.cards{
    margin-top: 70px;
    background-color: black;
    border: solid 1.5px white;
}
.card-body{
    color: white;

}
.color-boton{
    background-color: rgb(237, 249, 67);
}
.nombres-planes{
    margin-bottom: 20px;
}
.imagenes:hover{
    transform: scale(1.1);
}


   
   
   
   






